*{
    padding:0;
    margin:0;
    font-size : 100px;
    font-weight:400;
    font-family:Cardo;
}
a{
    text-decoration:none;
}
.topdiv-p{
    position:relative;
    display:inline-block;
    top:1.9rem;  
    font-size:0.4rem;
    transform:scaleY(0.9);
    letter-spacing:3px;
    color:white;
    transition:0.4s;
}
.text-black {
    color: black;
  }
  

.navbar{
    position:relative;
    left:2.33rem;
    height:1rem;
    width:65vw;
    position:absolute;
    z-index:5;
    /* background-color:black; */
    display:flex;
    justify-content:space-around;
}
.nav-elements{
    height:0;
}
.nav-elements-text{
    position:relative;
    height:0;
    top:-0.45rem;
}

.nav-elements-text-p{
    font-size:13px;
    font-family:Asul;
    font-weight:bold;
    color:#524C42;
    letter-spacing:3px;
    transition:0.4s;
}
.nav-elements-text-p:hover{
    opacity:0.5;
}
.nav-olbia{
    font-family:"Cedarville Cursive";
    font-size:0.5rem;
    position:relative;
    color:white;
    top:0.1rem;
}
.topdiv-a:hover .topdiv-p{
    opacity:0.5;
}
.view-gallery{
    width:9.5%;
    position:relative;
    left:5.75rem;
    letter-spacing:2px;
    border-bottom: thin solid white;
    padding-bottom:7px;
    top:2.2rem;
    transition:0.4s;
}
.view-gallery:hover{
    opacity:0.5;
}
.view-gallery-text{
    font-size:12px;
    color:white;
}
::-webkit-scrollbar {
    display: none;
}
.topdiv{
    text-align:center;
    position:relative;
    background-image: url("../olbia/1475658092734_1453212140091_Ceremony3.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size:101%;
    height:100vh;
}
.topdiv_img{
    height:99%;
    width:100%;
    
}
.secondtopdiv{
    height:100vh;
    text-align:center;
    opacity: 0;
    transform: translateY(20vh);
    visibility: hidden;
    transition: opacity 0.6s ease-out, transform 1.2s ease-out;
    will-change: opacity, visibility;
}
.secondtopdiv.in-view{
    opacity: 1;
    transform: none;
    visibility: visible;
}
.small-p{
    font-size:12px;
    letter-spacing:3px;
    color:#a2a2a3;
    font-weight:light;
    position:relative;
    top:1.28rem;
    font-family:Asul;
}
.middiv-p{
    color:black;
    position:relative;
    display:inline-block;
    top:0.8rem; 
    font-size:0.33rem;
    font-weight:light;
    transform:scaleY(0.9);
    letter-spacing:2px;
}
.secondtopdiv{
    position:relative;
    left
    width:20%;
}
.middiv-leafcontainer{
    position:relative;
    top:1rem;
}
.middiv-leaf{
    width:20%;
}
.Olbia-description{
    position:relative;
    top:0.8rem;
    margin: 0 auto;
    width:61.51%;
    text-align:center;
    line-height:0.27rem;
}
.Olbia-desc{   
    font-family:Roboto;
    font-size:16px;
    font-weight:400;
    display:inline-block;
    color:#a2a2a3;
    
}
.aboutme-btn{
    text-decoration:none;
    font-family:Roboto;
    font-size:13px;
    letter-spacing:3px;
    position:relative;
    top:30px;
    opacity:0.9;
    color:black;
    font-weight:400;
    border-bottom: thin solid #a2a2a3;
    padding-bottom:6px;
    transition-duration: 0.4s;
}
.aboutme-btn:hover
{
    color:rgb(162 162 163 / 0.8);
    border-bottom: thin solid rgb(162 162 163 / 0.2);
}
.thirddiv{
    height:100vh;
    background-color:#f5f5f4;
    position:relative;
    opacity: 0;
    transform: translateY(20vh);
    visibility: hidden;
    transition: opacity 0.6s ease-out, transform 1.2s ease-out;
    will-change: opacity, visibility;  

}
.thirddiv.in-view{
    opacity: 1;
    transform: none;
    visibility: visible;
}
.pages{
    display:block;
    width:3.6rem;
    height:3rem;
    position:relative;
    left:1.5rem;
    top:1.5rem;
    z-index:1;
    opacity: 0;
    transform: translateY(20vh);
    visibility: hidden;
    transition: opacity 0.6s ease-out, transform 1s ease-out;
    will-change: opacity, visibility;  
}
.pages.in-view{
    opacity: 1;
    transform: none;
    visibility: visible;
}
.categories{
    background-color:white;
    width:3.6rem;
    min-height:0.6rem;
    position:relative;
}
.weddings{
    background-color:white;
    width:3.6rem;
    height:0.8rem;
}
.engagements{
    background-color:white;
    width:3.6rem;
    height:0.8rem;
}
.couples{
    background-color:white;
    width:3.6rem;
    height:0.8rem;
}
.spare{
    background-color:white;
    width:3.6rem;
    min-height:0.5rem;
}
.wedding-works{
    height:5rem;
    width:7.5rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size:100%;
    display:inline-block;
    position:absolute;
    top:0.3rem;
    left:4.7rem;
    transition:0.3s;
    background-image: url(https://olbia.wphunters.com/wp-content/uploads/2020/04/2000-vadim_dodon-337c5474f8b5956f198713559bf6c8ab.jpg);
}

.engagement-works{
    height:5rem;
    width:7.5rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size:100%;
    display:none;
    position:absolute;
    top:0.3rem;
    left:4.7rem;
    transition:0.3s;
    background-image: url(https://olbia.wphunters.com/wp-content/uploads/2020/05/2000-vadim_dodon-328f92495269537df3539d069c3c39ce.jpg);
}

.couple-works{
    height:5.0rem;
    width:7.5rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size:100%;
    display:none;
    position:absolute;
    top:0.3rem;
    left:4.7rem;
    transition:0.3s;
    background-image: url(https://olbia.wphunters.com/wp-content/uploads/2020/04/2000-vadim_dodon-1d5342ca9550220b8f96a1d2d18da8fa.jpg);
}

.categories-text{
    font-size:0.12rem;
    position:relative;
    color:#a2a2a3;
    font-weight:400;
    font-family:Roboto;
    letter-spacing:2px;
    left:54px;
    top:0.44rem;
}
.pages-title{
    position:relative;
    font-family:Cardo;
    font-size:0.28rem;
    letter-spacing:2px;
    color:#a2a2a3;
    font-weight:400;
    position:relative;
    top:0.3rem;
    left:50px;
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 2.1rem;
    align-items: center;
}
.list{
    font-size: 14px;
    font-family: Asul;
    color: #f5f5f4;
    transition:0.4s;
    letter-spacing: 2px;
}
.list:hover{
    opacity:0.5;
}
.last:hover{
    opacity:0.5;
}
.last{
    font-size: 14px;
    transition:0.4s;
    font-family: Asul;
    color: #f5f5f4;
    letter-spacing: 2px;
}
.second-list{
    width:10%;
}
.title {
    width:10%;

}
.footer-title{
    font-family:"Cedarville Cursive";
    font-size: 0.5rem;
    color: #f5f5f4;
    top: -40px;
    position: relative;
}

.last-title{
    width:15%;
}
.final {
    width: 100%;
    position: relative;
    left: 65px;
    top: -5px;

}
.title-final{
    font-family:Cardo;
    font-size: 14px;
    color: #9b9b9b;
    line-height: 29px;
    letter-spacing: 2px;
}

.insta:hover .image {
    opacity: 0.3;
}
.insta {
    position: relative;
    width: 2%;
    left: 1070px;
    top: -130px;

}

.fb:hover .image{
    opacity: 0.3;
}
.fb {
    position: relative;
    width: 2%;
    left: 1115px;
    top: -155px;

}

.x:hover .image{
    opacity: 0.3;
}
.x {
    position: relative;
    width: 2%;
    left: 1160px;
    top: -180px;

}
.image {
    opacity: 1;
    display: block;
    width: 100%;
    height: 25px;
    transition: .5s ease;
    z-index: 2;
    filter: invert(64%) sepia(0%) saturate(479%) hue-rotate(146deg) brightness(96%) contrast(93%);

}
.pin:hover .image{
    opacity: 0.3;
}
.pin {
    position: relative;
    width: 2%;
    left: 1205px;
    top: -205px;

}
.pages-title:hover{
    color:black;
}
.active{
    color:black;
}
.shadow{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index:1;
    opacity:0;
    transition:0.3s;
}
.shadow:hover{
    opacity:1;
}
.wedding-works-btn{
    position:relative;
    width:1.7rem;
    height:0.5rem;
    z-index:2;
    background-color:white;
    border-radius:5px;
    left:2.8rem;
    top:2.2rem;
    opacity:1;
    transition:0.3s;
    letter-spacing:1px;
}
.wedding-works-btn-text{
    font-size:13px;
    color:black;
    position:relative;
    top:0.17rem;
    left:0.34rem;
}
.wedding-works-btn:hover{
    opacity:0.5;
}
.fade-in {
    animation: fadeIn 1s forwards;
  } 
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

.fade-out {
    animation: fadeOut 1s forwards;
  } 
  @keyframes fadeOut {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
}
footer {
    background-color: #282828;
}
.copyright{
    height:0.8rem;
    background-color:#1F1F1F;
    display:block;
    position:relative;
}
.copyright-text{
    font-family:Asul;
    font-size:11px;
    color: #9b9b9b;
    letter-spacing:2px;
}
.copyright-text-div{
    position:absolute;
    display:inline-block;
    top:0.33rem;
    left:0.6rem;
}
.copyright-text-div-2{
    position:absolute;
    display:inline-block;
    left:7.6rem;
    top:0.33rem;

}
.lastdiv{
    background-color:#F5F5F4;
    height:30vh;
    width:100%;
}
.add-margin{
    margin-top:3rem;
}
.subscribe{
    position:relative;
    top:0.7rem;
    left:0.65rem;
    width:60%;
}
.subscribe-text{
    font-family:Cardo;
    font-size:0.25rem;
    color: black;
    letter-spacing:2.5px;
    font-family:700;
    
}
#email{
    font-family:Roboto;
    letter-spacing:2px;
    position:relative;
    left:6.3rem;
    font-size:14px;
    max-height:25px;
    width:27%;
    top:-0.41rem;
    outline: none;
    box-shadow: none;
    border:none;
    background-color:#F5F5F4;
    border-bottom:1px solid rgba(156, 156, 156, 0.54);
    padding-bottom:10px;
}
.subscribe-btn-text{
    width:2.1rem;
    height:0.5rem;
    background-color:#F5F5F4;
    position:relative;
    top:-1.15rem;
    left:10rem;
    border:1px solid black;
    transition:0.2s;
    text-align:center;
}
.subscribe-btn-text:hover{
    opacity:0.55;
}
.sub-btn-txt{
    font-family:Asul;
    font-size:12px;
    letter-spacing:2px;
    color: black;
    transform:translateY(107%);

}
.sbt2{
    position:relative;
    top:0.05rem;
}
.tick{
    width:20px;
    position:absolute;
    left:12.3rem;
    top:26.91rem;
    display:none;
}
.tick2{
    width:20px;
    position:absolute;
    left:6.45rem;
    top:4.72rem;
    display:none;
}
.fourth-outer-div{
    color: #ffffff;
    height: 779px;
    max-width: 100%;
}

.fourthdiv{
    color: #ffffff;
    height: 3rem;
    width:100%;
    opacity: 0;
    transform: translateY(20vh);
    visibility: hidden;
    transition: opacity 0.6s ease-out, transform 1s ease-out;
    will-change: opacity, visibility; 
}
.fourthdiv.in-view{
    opacity: 1;
    transform: none;
    visibility: visible;
}
.wphunters{
    background-color: white;
    position:relative;
    border: 1px solid #f5f5f4;
    border-width: 1.75px;
    text-align: center;
    transition:0.4s;
}
.link-1 {
    font-family: Cardo;
    letter-spacing: 2px;
    width: 166px;
    height:166px;
    color: black;
    font-size: 20px;
    position: relative;
    font-weight:light;
    /* left: 30px;
    bottom: -45px; */
    top:0.5rem;
}
.link-2 {
    font-family: Asul;
    letter-spacing: 2px;
    color: #9b9b9b;
    font-size: 13px;
    position: relative;
    /* bottom: -55px; */
    font-weight: light;
    
    top:-0.8rem;
}
.wphunters:hover{
    opacity:0.55;
    min-width: 166px;
    height: 166px;
}
.image-couple{
    width: 166px;
    height: 166px;
}
.photo-collection{
    display:flex;
    flex-flow:row;
    position:relative;
    top:0.7rem;
    left:0.3rem;
    height:166px;
    width:100%;
    width:95vw;
    justify-content:space-evenly;
    
}
.testimonials{
    background-image: url(https://olbia.wphunters.com/wp-content/uploads/2020/06/2000-vadim_dodon-9901a20d968428349faae26e6b96e637.jpg);
    height:95vh;
    width:100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size:100%;
    text-align:center;
    opacity: 0;
    transform: translateY(20vh);
    visibility: hidden;
    transition: opacity 0.6s ease-out, transform 1s ease-out;
    will-change: opacity, visibility; 
}
.testimonials.in-view{
    opacity: 1;
    transform: none;
    visibility: visible;
}
.testimonials-dark{
    height:95vh;
    width:100%;
    background-color: rgba(0, 0, 0, 0.5);
    position:absolute;
}
.testimonials-text{
    height:95vh;
    width:100%;
    color:white;
}

.testimonial-text-move{
    position:absolute;
    display:none;
    color:white;
    transition: all 0.3s ease-in-out;
}
.testimonial-text-move2{
    position:absolute;
    display:none;
    color:white;
    transition: all 0.3s ease-in-out;
}
.testimonial-text-move.active,.testimonial-text-move2.active {
    display: block;
}
.blog-page{
    height:300vh;
    background-color:#f5f5f4;
    display:none;
}
.blog-page-inner{
    
}
.numbering{
    position:relative;
    top:1.13rem;
    left:0.02rem;
    font-weight:200;
    font-family:Cardo;
    font-size:15px;
    opacity:0.7;
    font-style:italic;
}
.fixed-numbering{
    position:relative;
    font-family:Cardo;
    left:-0.02rem;
    top:1.26rem;
    font-size:15px;
    font-weight:200;
    opacity:0.7;
    font-style:italic;
}
.box{
    border-bottom:1px solid rgba(156, 156, 156, 1);
    width:2%;
    position:absolute;
    left:6.34rem;
    top:3.38rem;
    transform: rotate(-60deg) translate(-50%, -50%);
}

.ttm{
    font-family:Cardo;
    font-size:15px;
}
.testimonials-literal-text{
    font-size:30px;
    letter-spacing:4px;
    position:relative;
    top:1rem;
    color:white;
}
.testimonials-names{
    position:relative;
    top:1.4rem;
    font-size:12px;
    font-family:Asul;
    letter-spacing:3px;
    font-weight:500;
}
.quotes{
    position:relative;
    top:1.7rem;
    font-size:25px;
    font-family:Cardo;
    font-style:italic;
    letter-spacing:2px;
    line-height:40px;
    max-width:61%;
    text-align:center;
    left:2.5rem;

}

.left-arrow{
    position:relative;
    left:-5.3rem;
    top:1.65rem;
    transition:0.4s;
}
.left-arrow:hover{
    opacity:0.5;
}
.right-arrow{
    position:relative;
    right:-5.3rem;
    transition:0.4s;
    top:1.65rem;
}
.right-arrow:hover{
    opacity:0.5;
}
.photos{
    position:relative;
    top:-2.3rem;
    /* left:-0.5rem; */
    border-bottom:1px solid white;
    padding-bottom:6.3px;
    display:inline-block;
    transition:0.4s;
}
.photos:hover{
    opacity:0.5;
}
.photos-text{
    font-family:Cardo;
    font-size:12px;
    color:white;
    font-weight:100;
    letter-spacing:2px;
}

.home-page{

}
.contact-page{
    display:none;
}
.whitespace{
    background-color:white;
    width:100%;
    height:1rem;
}

.image-container{
    height:70vh;
    width:100%;
    background-image: url(https://olbia.wphunters.com/wp-content/uploads/2020/04/2000-vadim_dodon-4f5b5a93f6530af08315940e5bf02014.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size:100%;
    display:none;
    position:relative;
}

.letsconnect{
    position:relative;
    display:inline-block;
    top:0.4rem;  
    font-size:0.37rem;
    font-family:Cardo;
    left:4.65rem;
    letter-spacing:2.5px;
    color:white;
}
.contact-info{
    height:140vh;
    background-color:#F5F5F4;

}
.sendamessage{
    width:80%;
    background-color:white;
    height:110vh;
    position:relative;
    top:-1.4rem;
    left:1.2rem;
}
.call-text {
    font-family: Asul;
    font-size: 0.11rem;
    letter-spacing: 3px;
    color: #9b9bb2;
    height: 35px;
    font-weight: 500;
}
.how-contact{
    color: black;
}
.call-me{
    font-size: 0.12rem;
    font-weight:500;
    letter-spacing: 3px;
    transition:0.4s;
}
.email-text{
    font-family: Cardo;
    font-size: 0.11rem;
    letter-spacing: 3px;
    color: #9b9bb2;
    height: 35px;
    font-weight: 500;
}
.social-text{
    position:relative;
    top:-5px;
    font-family: Cardo;
    font-size: 0.11rem;
    letter-spacing: 3px;
    color: #9b9bb2;
    height: 30px;
}
.contact-forms{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    opacity: 0;
    transform: translateY(20vh);
    visibility: hidden;
    transition: opacity 0.6s ease-out, transform 1s ease-out;
    will-change: opacity, visibility;  
}
.contact-forms.in-view{
    opacity: 1;
    transform: none;
    visibility: visible;
}
.call{
    width:370px;
    text-align: center;
    border-right: solid thin #dcdcdb;
    justify-content: center;
    padding: 15px;
    
}
.email{
    width:370px;
    text-align: center;
    border-right: solid thin #dcdcdb;
    border-width: 0.05px;
    padding: 15px;
}
.social{
    width:370px;
    text-align: center;
    padding: 15px;
}
.button-2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    position:relative;
    top:-5px;
    align-content: center;
}
.fb-2{
    width: 20px;
    transition:0.5s;
}
.fb-2:hover{
    opacity:0.5;
}
.insta-2{
    width: 55px;
    transition:0.5s;
}
.insta-2:hover{
    
    opacity:0.5;
}
.x-2{
    position:relative;
    top:-1px;
    left:-3px;
    transition:0.5s;
    transform:scale(0.9);
    width: 25px;
}
.x-2:hover{
    opacity:0.5;
}
.call-me:hover {
    opacity:0.5;
}

.sendmessagetext{
    padding-top:1rem;
    text-align:center;
    font-size:24px;
    font-family:Cardo;
    letter-spacing:2.8px;
}

.name2{
    background-color:white;
    font-family:Roboto;
    letter-spacing:2px;
    position:relative;
    left:1.4rem;
    font-size:14px;
    max-height:25px;
    width:21%;
    top:-0.16rem;
    outline: none;
    box-shadow: none;
    border:none;
    padding-right:20px;
    border-bottom:1px solid rgba(156, 156, 156, 0.54);
    padding-bottom:16px;
}
.mytextfield{
    top:0.1rem;
    display:block;
    padding-bottom:1.2rem;
    width:71%;
}
textarea{
    resize:vertical
}
.sub2{
    left:4rem;
    display:block;
    background-color:white;
    top:0.55rem;
    height:0.6rem;
}
.sub-btn-txt{
    line-height:17px;
}
.portfolio-page{
    height:250vh;
    background-color:#f5f5f4;
    display:none;
}
.pages-page{
    height:250vh;
    background-color:#f5f5f4;
    display:none;
}
.welcometext{
    position:absolute;
    top:0.7rem;
    left:8.57rem;
    height:1rem;
    width:3rem;
    background-color:rgb(245, 245, 244,0.7);
    mask-image: linear-gradient(to bottom, opaque 0%, black 100%);
    mask-mode: alpha;
    border-radius:15px;
    /* clip-path: polygon(0 0, 100% 0, 100% 90%, 0 90%); */
    z-index:10;
    opacity: 0;
    transform: translateY(0);
    visibility: hidden;
    transition: opacity 0.8s ease-out, transform 0.4s ease-out;
    will-change: opacity, visibility;
}
.welcometext.in-view{
    opacity: 1;
    transform: translateY(5vh);
    transition: opacity 0.4s ease-out, transform 0.4s ease-out;
    visibility: visible;
}
.welcometext.out-view{
    opacity: 0;
    transform: none;
    visibility: hidden;
}
.nap{
    font-size:15px;
    position:relative;
    top:0.42rem;
    left:0.5rem;
}






















































































































































































































































































































































































































































































































































.hidden {
    display: none;
  }
.not-hidden{
    display:block;
}